<div class="footer-parallax-container">
  <div class="section-bg-image full-screen-size box-middle-container" data-sub-height="0"
    style="background-image:url(../../../assets/images/hd-14.jpg)">
    <div class="container content text-center white ">
      <div class="box-middle">
        <hr class="space" />
        <h1 class="text-xxl">Cooming soon</h1>
        <hr class="space s" />
        <div class="row">
          <div class="col-md-7 col-center">
            <p>
              Lorem ipsum dolor sit amet consectetur adipiscing elitsed do eiusmod tempor incididunt utlabore et dolore
              magna aliqua.
              Utenim ad minim veniam quis nostruo.
            </p>
          </div>
        </div>
        <hr class="space m" />
        <div class="countdown text-s" data-time="02/21/2019 10:30:00" data-utc-offset="-5">
          <div>
            <span class="days countdown-values text-l">00</span><br /><span class="countdown-label text-m">Days</span>
          </div>
          <div>
            <span class="hours countdown-values text-l">00</span><br /><span class="countdown-label text-m">Hours</span>
          </div>
          <div>
            <span class="minutes countdown-values text-l">00</span><br /><span
              class="countdown-label text-m">Mins</span>
          </div>
          <div>
            <span class="seconds countdown-values text-l">00</span><br /><span
              class="countdown-label text-m">Secs</span>
          </div>
        </div>
        <hr class="space" />
        <div class="btn-group social-group">
          <a target="_blank" href="#" data-social="share-facebook"><i class="fa fa-facebook"></i></a>
          <a target="_blank" href="#" data-social="share-twitter"><i class="fa fa-twitter"></i></a>
          <a target="_blank" href="#" data-social="share-google"><i class="fa fa-instagram"></i></a>
          <a target="_blank" href="#" data-social="share-linkedin"><i class="fa fa-youtube"></i></a>
        </div>
      </div>
    </div>
  </div>
</div>
