<div class="footer-parallax-container">
  <div class="section-bg-image parallax-window white ken-burn-center" data-natural-height="1080"
    data-natural-width="1920" data-parallax="scroll" data-image-src="../../../assets/newUpdates/banner1.jpg">
    <div class="container content">
      <hr class="space" />
      <hr class="space" />
      <div class="row">
        <div class="col-md-8" data-anima="fade-left" data-timeline="asc" data-timeline-time="200" data-time="1500">
          <h2 class="text-black text-xl anima">Let food be thy medicine, thy medicine shall be thy food</h2>
          <hr class="space s" />
          <p class="anima">
            A healthy diet is a solution to many of our health-care problems. It's the most important solution. Coz
            being healthy is 80% Food intake & 20% Exercise.
          </p>
          <hr class="space m" />
          <a routerLink="/menu" class="btn-border btn btn-sm anima">VIEW MENU</a><span class="space"></span>
          <!-- <hr class="space s visible-sm" /> -->
          <a href="/membership" class="btn-border btn btn-sm anima">MEMBERSHIP</a>
        </div>
      </div>
      <hr class="space m" />
    </div>
  </div>
  <div class="flexslider carousel visible-dir-nav outer-navs border-bottom bg-slider"
    data-options="minWidth:200,itemMargin:15,numItems:4,controlNav:true,directionNav:true">
    <ul class="slides">
      <li class="">
        <div class="img-box adv-img adv-img-down-text">
          <a class="img-box img-scale-up lightbox i-center" href="#">
            <div class="caption">
              <i class="im-fire-flame"></i>
            </div>
            <img src="../../../assets/images/gallery/image-11.jpg" alt="" />
          </a>
          <div class="caption-bottom">
            <span class="extra-content">OFFER</span>
          </div>
        </div>
      </li>
      <li>
        <div class="img-box adv-img adv-img-down-text">
          <a class="img-box img-scale-up lightbox i-center" href="#">
            <div class="caption">
              <i class="im-fire-flame"></i>
            </div>
            <img src="../../../assets/images/gallery/image-12.jpg" alt="" />
          </a>
          <div class="caption-bottom">
            <span class="extra-content">OFFER</span>
          </div>
        </div>
      </li>
      <li>
        <div class="img-box adv-img adv-img-down-text">
          <a class="img-box img-scale-up lightbox i-center" href="#">
            <div class="caption">
              <i class="im-fire-flame"></i>
            </div>
            <img src="../../../assets/images/gallery/image-34.jpg" alt="" />
          </a>
          <div class="caption-bottom">
            <span class="extra-content">OFFER</span>
          </div>
        </div>
      </li>
      <li>
        <div class="img-box adv-img adv-img-down-text">
          <a class="img-box img-scale-up lightbox i-center" href="#">
            <div class="caption">
              <i class="im-fire-flame"></i>
            </div>
            <img src="../../../assets/images/gallery/image-12.jpg" alt="" />
          </a>
          <div class="caption-bottom">
            <span class="extra-content">OFFER</span>
          </div>
        </div>
      </li>
      <li>
        <div class="img-box adv-img adv-img-down-text">
          <a class="img-box img-scale-up lightbox i-center" href="#">
            <div class="caption">
              <i class="im-fire-flame"></i>
            </div>
            <img src="../../../assets/images/gallery/image-14.jpg" alt="" />
          </a>
          <div class="caption-bottom">
            <span class="extra-content">OFFER</span>
          </div>
        </div>
      </li>
      <li>
        <div class="img-box adv-img adv-img-down-text">
          <a class="img-box img-scale-up lightbox i-center" href="#">
            <div class="caption">
              <i class="im-fire-flame"></i>
            </div>
            <img src="../../../assets/images/gallery/image-34.jpg" alt="" />
          </a>
          <div class="caption-bottom">
            <span class="extra-content">OFFER</span>
          </div>
        </div>
      </li>
    </ul>
  </div>


  <!-- <div class="section-empty no-paddings-grid border-bottom">
    <div class="container content ">
      <div class="flexslider carousel visible-dir-nav outer-navs "
        data-options="minWidth:200,itemMargin:15,numItems:3,controlNav:true,directionNav:true">
        <ul class="slides">
          <li>
            <div class="advs-box advs-box-top-icon-img">
              <a class="img-box" href="#">
                <span><img src="../../../assets/images/gallery/image-11.jpg" alt=""></span>
              </a>
              <div class="advs-box-content">
                <h3><a href="#">Baconnaise Angus</a></h3>
                <span class="extra-content">OFFER</span>
                <p>
                  Interdum iusto pulvinar consequuntur augue optio faguroso otto.
                </p>
              </div>
            </div>
          </li>
          <li>
            <div class="advs-box advs-box-top-icon-img">
              <a class="img-box" href="#">
                <span><img src="../../../assets/images/gallery/image-12.jpg" alt=""></span>
              </a>
              <div class="advs-box-content">
                <h3><a href="#">Chicken Wrap</a></h3>
                <span class="extra-content">OFFER</span>
                <p>
                  Interdum iusto pulvinar consequuntur augue optio repellate molto.
                </p>
              </div>
            </div>
          </li>
          <li>
            <div class="advs-box advs-box-top-icon-img">
              <a class="img-box" href="#">
                <span><img src="../../../assets/images/gallery/image-13.jpg" alt=""></span>
              </a>
              <div class="advs-box-content">
                <h3><a href="#">Double Texas BBQ</a></h3>
                <span class="extra-content">OFFER</span>
                <p>
                  Interdum iusto pulvinar consequuntur augue optio atronimo meltoso.
                </p>
              </div>
            </div>
          </li>
          <li>
            <div class="advs-box advs-box-top-icon-img">
              <a class="img-box" href="#">
                <span><img src="../../../assets/images/gallery/image-14.jpg" alt=""></span>
              </a>
              <div class="advs-box-content">
                <h3><a href="#">Crispy Chicken Toast</a></h3>
                <span class="extra-content">OFFER</span>
                <p>
                  Interdum iusto pulvinar consequuntur augue optio repporo.
                </p>
              </div>
            </div>
          </li>
          <li>
            <div class="advs-box advs-box-top-icon-img">
              <a class="img-box" href="#">
                <span><img src="../../../assets/images/gallery/image-14.jpg" alt=""></span>
              </a>
              <div class="advs-box-content">
                <h3><a href="#">Crispy Chicken Toast</a></h3>
                <span class="extra-content">OFFER</span>
                <p>
                  Interdum iusto pulvinar consequuntur augue optio repporo.
                </p>
              </div>
            </div>
          </li>
          <li>
            <div class="advs-box advs-box-top-icon-img">
              <a class="img-box" href="#">
                <span><img src="../../../assets/images/gallery/image-14.jpg" alt=""></span>
              </a>
              <div class="advs-box-content">
                <h3><a href="#">Crispy Chicken Toast</a></h3>
                <span class="extra-content">OFFER</span>
                <p>
                  Interdum iusto pulvinar consequuntur augue optio repporo.
                </p>
              </div>
            </div>
          </li>
          <li>
            <div class="advs-box advs-box-top-icon-img">
              <a class="img-box" href="#">
                <span><img src="../../../assets/images/gallery/image-14.jpg" alt=""></span>
              </a>
              <div class="advs-box-content">
                <h3><a href="#">Crispy Chicken Toast</a></h3>
                <span class="extra-content">OFFER</span>
                <p>
                  Interdum iusto pulvinar consequuntur augue optio repporo.
                </p>
              </div>
            </div>
          </li>
          <li>
            <div class="advs-box advs-box-top-icon-img">
              <a class="img-box" href="#">
                <span><img src="../../../assets/images/gallery/image-14.jpg" alt=""></span>
              </a>
              <div class="advs-box-content">
                <h3><a href="#">Crispy Chicken Toast</a></h3>
                <span class="extra-content">OFFER</span>
                <p>
                  Interdum iusto pulvinar consequuntur augue optio repporo.
                </p>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div> -->

  <!-- <hr class="space m" />
      <hr />
      <hr class="space m" /> -->
  <!-- <div class="row">
        <div class="col-md-1 text-center-sm">
          <img src="../../../assets/images/clock.gif" alt="" />
        </div>
        <div class="col-md-3 text-center-sm">
          <h4>From Monday to Friday</h4>
          <p>From 11am to 15pm and from 7pm to 11pm. Friday afternoon closed.</p>
          <hr class="space s" />
          <h4>Saturday and Sunday</h4>
          <p>From 11am to 15pm and from 9pm to 3am. Sunday open all day.</p>
        </div>
        <div class="col-md-5 text-center-sm">

        </div>
        <div class="col-md-3 text-center-sm">
          <div class="title-base text-left text-center-sm">
            <hr />
            <h2>Book a table</h2>
            <p>Instant reservetion available</p>
          </div>
          <a href="#" class="btn btn-xs btn-border">Contact us</a>
        </div>
      </div> -->
  <div class="section-empty no-paddings-y">
    <div class="container content">
      <div class="title-base ">
        <h2>Our complete menu</h2>
        <p>I don't go long without eating. I never starve myself: I grab a healthy snack.
        </p>
      </div>
      <div class="container content">
        <div class="album-main" data-album-anima="fade-bottom">
          <div class="album-list row">
            <div class="album-box col-md-4">
              <div class="img-box scale adv-img adv-img-half-content" data-anima="fade-left" data-trigger="hover">
                <a href="/menu" class="img-box anima-scale-up anima">
                  <img alt="" src="../../../assets/images/gallery/image-31.jpg">
                </a>
                <div class="caption">
                  <h2 class="album-name">SALADS</h2>
                </div>
              </div>
            </div>
            <div class="album-box col-md-4" data-album-id="album-3">
              <div class="img-box scale adv-img adv-img-half-content" data-anima="fade-left" data-trigger="hover">
                <a href="/menu" class="img-box anima-scale-up anima">
                  <img alt="" src="../../../assets/images/gallery/image-3.jpg">
                </a>
                <div class="caption">
                  <h2 class="album-name">LIGHT MEALS</h2>
                </div>
              </div>
            </div>
            <div class="album-box col-md-4">
              <div class="img-box scale adv-img adv-img-half-content" data-anima="fade-left" data-trigger="hover">
                <a href="/menu" class="img-box anima-scale-up anima">
                  <img alt="" src="../../../assets/images/gallery/image-4.jpg">
                </a>
                <div class="caption">
                  <h2 class="album-name">MEAL IN A BOWL</h2>
                </div>
              </div>
            </div>
            <div class="album-box col-md-4">
              <div class="img-box scale adv-img adv-img-half-content" data-anima="fade-left" data-trigger="hover">
                <a href="/menu" class="img-box anima-scale-up anima">
                  <img alt="" src="../../../assets/images/gallery/image-15.jpg">
                </a>
                <div class="caption">
                  <h2 class="album-name">BEVERAGES</h2>
                </div>
              </div>
            </div>
            <div class="album-box col-md-4">
              <div class="img-box scale adv-img adv-img-half-content" data-anima="fade-left" data-trigger="hover">
                <a href="/menu" class="img-box anima-scale-up anima">
                  <img alt="" src="../../../assets/images/gallery/image-21.jpg">
                </a>
                <div class="caption">
                  <h2 class="album-name">EVERY DAY MEAL</h2>
                </div>
              </div>
            </div>
            <div class="album-box col-md-4" data-album-id="album-3">
              <div class="img-box scale adv-img adv-img-half-content" data-anima="fade-left" data-trigger="hover">
                <a href="/menu" class="img-box anima-scale-up anima">
                  <img alt="" src="../../../assets/images/gallery/image-41.jpg">
                </a>
                <div class="caption">
                  <h2 class="album-name">CHEAT MEALS</h2>
                </div>
              </div>
            </div>
            <!-- INSERT OTHERS ALBUMS MENU ITEMS HERE -->
          </div>
        </div>
      </div>
    </div>
    <hr class="space m" />
    <hr class="space m" />
  </div>
  <!-- BANNER -->
  <div class="section-bg-image parallax-window white ken-burn-center bg-image" data-natural-height="1080"
    data-natural-width="1920" data-parallax="scroll" data-image-src="../../../assets/newUpdates/img1.jpg">
    <div class="container content">
      <div class="row">
        <hr class="space m dsp-none" />
        <hr class="space m dsp-none" />
        <hr class="space m" />
        <div data-anima="fade-left" class="banner" data-timeline="asc" data-timeline-time="200" data-time="1500">
          <h2 class="text-black text-xl anima text-center text-uppercase">Your diet is a bank account. Good food choices
            are good investments.
          </h2>
          <hr class="space m dsp-none" />
          <hr class="space m dsp-none" />
          <hr class="space m" />
          <div class="banner-heading">
            The Process We Follow
          </div>
          <img width=100%; class="padding-74" src="../../../assets/banner.jpg">
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="row" data-anima="fade-bottom" data-timeline="asc" data-timeline-time="200" data-ti>
            <div class="col-md-4 anima" *ngFor="let product of products">
              <div class="advs-box advs-box-top-icon-img">
                <a class="img-box" href="#">
                  <span><img src="{{product?.filePath}}" alt=""></span>
                </a>
                <div class="advs-box-content">
                  <h3><a href="#">{{product?.productName}}</a></h3>
                  <span class="extra-content">{{product?.productType}}</span>
                  <p>
                    {{product?.productDisc}}
                  </p>
                </div>
              </div>
            </div>
          </div> -->
  <div class="section-empty no-paddings-y">
    <hr class="space m" />
    <div class="content">
      <div class="title-base">
        <h2>TODAY'S BEST OFFERS</h2>
        <p>If you keep good food in your fridge, you will eat good food.</p>
      </div>
      <div class="container content border-bottom">
        <hr class="space m m-h" />
        <div class="row">
          <div class="col-md-3 col-sm-2">
            <div class="advs-box advs-box-top-icon-img">
              <a class="img-box" href="#">
                <span><img src="../../../assets/images/gallery/image-11.jpg" alt=""></span>
              </a>
              <div class="advs-box-content">
                <h3><a href="#">Baconnaise Angus</a></h3>
                <span class="extra-content">OFFER</span>
                <p>
                  Interdum iusto pulvinar consequuntur augue optio faguroso otto.
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="advs-box advs-box-top-icon-img">
              <a class="img-box" href="#">
                <span><img src="../../../assets/images/gallery/image-12.jpg" alt=""></span>
              </a>
              <div class="advs-box-content">
                <h3><a href="#">Chicken Wrap</a></h3>
                <span class="extra-content">OFFER</span>
                <p>
                  Interdum iusto pulvinar consequuntur augue optio repellate molto.
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="advs-box advs-box-top-icon-img">
              <a class="img-box" href="#">
                <span><img src="../../../assets/images/gallery/image-13.jpg" alt=""></span>
              </a>
              <div class="advs-box-content">
                <h3><a href="#">Double Texas BBQ</a></h3>
                <span class="extra-content">OFFER</span>
                <p>
                  Interdum iusto pulvinar consequuntur augue optio atronimo meltoso.
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="advs-box advs-box-top-icon-img">
              <a class="img-box" href="#">
                <span><img src="../../../assets/images/gallery/image-14.jpg" alt=""></span>
              </a>
              <div class="advs-box-content">
                <h3><a href="#">Crispy Chicken Toast</a></h3>
                <span class="extra-content">OFFER</span>
                <p>
                  Interdum iusto pulvinar consequuntur augue optio repporo.
                </p>
              </div>
            </div>
          </div>
          <span class="m-h">
            <hr class="space m" />
            <hr class="space m" />
          </span>
        </div>

        <div class="row">
          <div class="col-md-3 col-sm-2">
            <div class="advs-box advs-box-top-icon-img">
              <a class="img-box" href="#">
                <span><img src="../../../assets/images/gallery/image-13.jpg" alt=""></span>
              </a>
              <div class="advs-box-content">
                <h3><a href="#">Baconnaise Angus</a></h3>
                <span class="extra-content">OFFER</span>
                <p>
                  Interdum iusto pulvinar consequuntur augue optio faguroso otto.
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="advs-box advs-box-top-icon-img">
              <a class="img-box" href="#">
                <span><img src="../../../assets/images/gallery/image-12.jpg" alt=""></span>
              </a>
              <div class="advs-box-content">
                <h3><a href="#">Chicken Wrap</a></h3>
                <span class="extra-content">OFFER</span>
                <p>
                  Interdum iusto pulvinar consequuntur augue optio repellate molto.
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="advs-box advs-box-top-icon-img">
              <a class="img-box" href="#">
                <span><img src="../../../assets/images/gallery/image-12.jpg" alt=""></span>
              </a>
              <div class="advs-box-content">
                <h3><a href="#">Double Texas BBQ</a></h3>
                <span class="extra-content">OFFER</span>
                <p>
                  Interdum iusto pulvinar consequuntur augue optio atronimo meltoso.
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="advs-box advs-box-top-icon-img">
              <a class="img-box" href="#">
                <span><img src="../../../assets/images/gallery/image-11.jpg" alt=""></span>
              </a>
              <div class="advs-box-content">
                <h3><a href="#">Crispy Chicken Toast</a></h3>
                <span class="extra-content">OFFER</span>
                <p>
                  Interdum iusto pulvinar consequuntur augue optio repporo.
                </p>
              </div>
            </div>
          </div>
          <span class="m-h">
            <hr class="space m" />
            <hr class="space m" />
          </span>
        </div>
      </div>
      <!-- <div class="grid-list">
        <div class="grid-box row">
            <div class="grid-item col-md-3 col-sm-2">
                <div class="advs-box advs-box-top-icon-img">
                  <a class="img-box" href="#">
                    <span><img src="../../../assets/images/gallery/image-11.jpg" alt=""></span>
                  </a>
                  <div class="advs-box-content">
                    <h3><a href="#">Baconnaise Angus</a></h3>
                    <span class="extra-content">OFFER</span>
                    <p>
                      Interdum iusto pulvinar consequuntur augue optio faguroso otto.
                    </p>
                  </div>
                </div>
              </div>
              <div class="grid-item col-md-3">
                <div class="advs-box advs-box-top-icon-img">
                  <a class="img-box" href="#">
                    <span><img src="../../../assets/images/gallery/image-12.jpg" alt=""></span>
                  </a>
                  <div class="advs-box-content">
                    <h3><a href="#">Chicken Wrap</a></h3>
                    <span class="extra-content">OFFER</span>
                    <p>
                      Interdum iusto pulvinar consequuntur augue optio repellate molto.
                    </p>
                  </div>
                </div>
              </div>
              <div class="grid-item col-md-3">
                <div class="advs-box advs-box-top-icon-img">
                  <a class="img-box" href="#">
                    <span><img src="../../../assets/images/gallery/image-13.jpg" alt=""></span>
                  </a>
                  <div class="grid-item advs-box-content">
                    <h3><a href="#">Double Texas BBQ</a></h3>
                    <span class="extra-content">OFFER</span>
                    <p>
                      Interdum iusto pulvinar consequuntur augue optio atronimo meltoso.
                    </p>
                  </div>
                </div>
              </div>
              <div class="grid-item col-md-3">
                <div class="advs-box advs-box-top-icon-img">
                  <a class="img-box" href="#">
                    <span><img src="../../../assets/images/gallery/image-14.jpg" alt=""></span>
                  </a>
                  <div class="advs-box-content">
                    <h3><a href="#">Crispy Chicken Toast</a></h3>
                    <span class="extra-content">OFFER</span>
                    <p>
                      Interdum iusto pulvinar consequuntur augue optio repporo.
                    </p>
                  </div>
                </div>
              </div>










          <div class="grid-item col-md-3">
            <div class="img-box adv-img adv-img-half-content" data-anima="fade-left" data-trigger="hover">
              <i class="fa fa-camera-retro anima"></i>
              <a href="#" class="img-box lightbox anima-scale-up anima">
                <img src="../../../assets/images/gallery/square-1.jpg" alt="" />
              </a>
              <div class="caption">
                <h2>The Perfect Burger</h2>
                <span class="extra-content">$ 9.99</span>
                <p class="s-content">
                  Beetroot water spinach okra water chestnut ricebean pea.
                  Teaspoon mustard, teaspoon worcestershire sauce.
                </p>
                <p class="sub"> </p>
              </div>
            </div>
          </div>
          <div class="grid-item col-md-3">
            <div class="img-box adv-img adv-img-half-content" data-anima="fade-left" data-trigger="hover">
              <i class="fa fa-camera-retro anima"></i>
              <a href="#" class="img-box lightbox anima-scale-up anima">
                <img src="../../../assets/images/gallery/square-2.jpg" alt="" />
              </a>
              <div class="caption">
                <h2>Cheese Toast Deluxe</h2>
                <span class="extra-content">$ 10.50</span>
                <p class="s-content">
                  Beetroot water spinach okra water chestnut ricebean pea.
                  Teaspoon mustard, teaspoon worcestershire sauce.
                </p>
                <p class="sub"> </p>
              </div>
            </div>
          </div>
          <div class="grid-item col-md-3">
            <div class="img-box adv-img adv-img-half-content" data-anima="fade-left" data-trigger="hover">
              <i class="fa fa-camera-retro anima"></i>
              <a href="#" class="img-box lightbox anima-scale-up anima">
                <img src="../../../assets/images/gallery/square-3.jpg" alt="" />
              </a>
              <div class="caption">
                <h2>Summer Yellow Snack</h2>
                <span class="extra-content">$ 11.50</span>
                <p class="s-content">
                  Beetroot water spinach okra water chestnut ricebean pea.
                  Teaspoon mustard, teaspoon worcestershire sauce.
                </p>
                <p class="sub"> </p>
              </div>
            </div>
          </div>
          <div class="grid-item col-md-3">
            <div class="img-box adv-img adv-img-half-content" data-anima="fade-left" data-trigger="hover">
              <i class="fa fa-camera-retro anima"></i>
              <a href="#" class="img-box lightbox anima-scale-up anima">
                <img src="../../../assets/images/gallery/square-4.jpg" alt="" />
              </a>
              <div class="caption">
                <h2>Cheese Toast Big</h2>
                <span class="extra-content">$ 9.99</span>
                <p class="s-content">
                  Beetroot water spinach okra water chestnut ricebean pea.
                  Teaspoon mustard, teaspoon worcestershire sauce.
                </p>
                <p class="sub"> </p>
              </div>
            </div>
          </div>
          <div class="grid-item col-md-3">
            <div class="img-box adv-img adv-img-half-content" data-anima="fade-left" data-trigger="hover">
              <i class="fa fa-camera-retro anima"></i>
              <a href="#" class="img-box lightbox anima-scale-up anima">
                <img src="../../../assets/images/gallery/square-5.jpg" alt="" />
              </a>
              <div class="caption">
                <h2>Cheese Burger Deluxe</h2>
                <span class="extra-content">$ 9.99</span>
                <p class="s-content">
                  Beetroot water spinach okra water chestnut ricebean pea.
                  Teaspoon mustard, teaspoon worcestershire sauce.
                </p>
                <p class="sub"> </p>
              </div>
            </div>
          </div>
          <div class="grid-item col-md-3">
            <div class="img-box adv-img adv-img-half-content" data-anima="fade-left" data-trigger="hover">
              <i class="fa fa-camera-retro anima"></i>
              <a href="#" class="img-box lightbox anima-scale-up anima">
                <img src="../../../assets/images/gallery/square-6.jpg" alt="" />
              </a>
              <div class="caption">
                <h2>Salad Piadina Eggs</h2>
                <span class="extra-content">$ 10.99</span>
                <p class="s-content">
                  Beetroot water spinach okra water chestnut ricebean pea.
                  Teaspoon mustard, teaspoon worcestershire sauce.
                  <p class="sub"> </p>
              </div>
            </div>
          </div>
          <div class="grid-item col-md-3">
            <div class="img-box adv-img adv-img-half-content" data-anima="fade-left" data-trigger="hover">
              <i class="fa fa-camera-retro anima"></i>
              <a href="#" class="img-box lightbox anima-scale-up anima">
                <img src="../../../assets/images/gallery/square-7.jpg" alt="" />
              </a>
              <div class="caption">
                <h2>Mexican Hot Piadina</h2>
                <span class="extra-content">$ 12.50</span>
                <p class="s-content">
                  Beetroot water spinach okra water chestnut ricebean pea.
                  Teaspoon mustard, teaspoon worcestershire sauce.
                </p>
                <p class="sub"> </p>
              </div>
            </div>
          </div>
          <div class="grid-item col-md-3">
            <div class="img-box adv-img adv-img-half-content" data-anima="fade-left" data-trigger="hover">
              <i class="fa fa-camera-retro anima"></i>
              <a href="#" class="img-box lightbox anima-scale-up anima">
                <img src="../../../assets/images/gallery/square-8.jpg" alt="" />
              </a>
              <div class="caption">
                <h2>Italian Bruschette</h2>
                <span class="extra-content">$ 9.99</span>
                <p class="s-content">
                  Beetroot water spinach okra water chestnut ricebean pea.
                  Teaspoon mustard, teaspoon worcestershire sauce.
                </p>
                <p class="sub"> </p>
              </div>
            </div>
          </div>
        </div>
      </div> -->

    </div>
  </div>


  <!-- <div class="section-bg-color no-padding-bottom">
    <div class="container content">
      <div class="row">
        <div class="col-md-6">
          <img src="../../../assets/images/chefs-2.png" alt="" />
        </div>
        <div class="col-md-6">
          <div class="content">
            <div class="title-base text-left">
              <hr />
              <h2>Our chefs</h2>
              <p>Starred Michelin chiefs</p>
            </div>
            <p>
              Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus
              nunc mit amet consectetur adipiscing elitsed do eiusmod tempor elit vehicula.
              Lorem ipsum dolor sit amet consectetur adipiscing elitsed do eiusmod tempor incididunt utlabore et dolore
              magna aliqua.
              Utenim ad minim veniam quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            </p>
            <hr class="space s" />
            <a href="#" class="btn btn-sm btn-border">Our story</a>
          </div>
        </div>
      </div>
    </div>
  </div> -->

  <div class="section-empty mobile-none">
    <div class="container content">
      <div class="row">
        <div class="col-md-1 text-center-sm">
          <hr class="space xs hidden-sm" />
          <img src="../../../assets/images/clock.gif" alt="" />
        </div>
        <div class="col-md-2 text-center-sm">
          <hr class="space xs hidden-sm" />
          <div class="title-base text-left text-center-sm">
            <hr />
            <h2>Hours</h2>
            <p>Our open schedules</p>
          </div>
        </div>
        <div class="col-md-9 text-center-sm">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>Day</th>
                <th>Monday</th>
                <th>Tuesday</th>
                <th>Wednesday</th>
                <th>Thurdsay</th>
                <th>Friday</th>
                <th>Saturday</th>
                <th>Sunday</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th>Food Delivery</th>
                <td>7am - 12pm</td>
                <td>7am - 12pm</td>
                <td>7am - 12pm</td>
                <td>7am - 12pm</td>
                <td>7am - 12pm</td>
                <td>7am - 12pm</td>
                <td>7am - 12pm</td>

              </tr>
              <tr>
                <th>Diet Consultancy</th>
                <td>12pm - 04pm</td>
                <td>12pm - 04pm</td>
                <td>12pm - 04pm</td>
                <td>12pm - 04pm</td>
                <td>12pm - 04pm</td>
                <td>12pm - 04pm</td>
                <td>12pm - 04pm</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="section-empty mobile">
    <div class="container content">
      <div class="">
        <div class=" text-center-sm">
          <hr class="space xs hidden-sm" />
          <img class="dsp-none" src="../../../assets/images/clock.gif" alt="" />
        </div>
        <div class=" text-center-sm">
          <hr class="space xs hidden-sm" />
          <hr class="space m" />
          <div class="title-base text-left text-center-sm">
            <hr />
            <h2>Hours</h2>
            <p>Our open schedules</p>
          </div>
        </div>
        <div class="text-center-sm">
          <table class="table table-hover">

            <tbody>
              <tr>
                <th>Day</th>
                <th>Food Delivery</th>
                <th>Diet Consultancy</th>
              </tr>
              <tr>
                <td>Monday</td>
                <td>7am - 12pm</td>
                <td>12pm - 04pm</td>
              </tr>
              <tr>
                <td>Tuesday</td>
                <td>7am - 12pm</td>
                <td>12pm - 04pm</td>
              </tr>
              <tr>
                <td>Wednesday</td>
                <td>7am - 12pm</td>
                <td>12pm - 04pm</td>
              </tr>
              <tr>
                <td>Thurdsay</td>
                <td>7am - 12pm</td>
                <td>12pm - 04pm</td>
              </tr>
              <tr>
                <td>Friday</td>
                <td>7am - 12pm</td>
                <td>12pm - 04pm</td>
              </tr>
              <tr>
                <td>Saturday</td>
                <td>7am - 12pm</td>
                <td>12pm - 04pm</td>
              </tr>
              <tr>
                <td>Sunday</td>
                <td>7am - 12pm</td>
                <td>12pm - 04pm</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>



  <i class="scroll-top scroll-top-mobile show fa fa-sort-asc"></i>
  <!-- mongodb://aakar-test:s7057250694@ds019482.mlab.com:19482/aakar-test -->
</div>
