<div class="footer-parallax-container">
  <div class="header-title ken-burn white" data-parallax="scroll" data-position="top" data-natural-height="850"
    data-natural-width="1920" data-image-src="../../../assets/images/bg-7.jpg">
    <div class="container">
      <div class="title-base">
        <hr class="anima" />
        <h1>Blog one</h1>
        <p>Latest news from our blog and our social channels</p>
      </div>
    </div>
  </div>
  <div class="section-bg-color">
    <div class="container content">
      <div class="row">
        <div class="col-md-9 col-sm-12">
          <div class="grid-list grid-layout col-margins">
            <div class="grid-box row">
              <div class="grid-item col-sm-6">
                <div class="advs-box advs-box-top-icon-img niche-box-post boxed-inverse" data-anima="scale-rotate"
                  data-trigger="hover">
                  <div class="block-infos">
                    <div class="block-data">
                      <p class="bd-day">12</p>
                      <p class="bd-month">July 2018</p>
                    </div>
                    <a class="block-comment" href="#">2 <i class="fa fa-comment-o"></i></a>
                  </div>
                  <a class="img-box" routerLink="/blog/sblog"><img class="anima" src="../../../assets/images/gallery/image-1.jpg"
                      alt="" /></a>
                  <div class="advs-box-content">
                    <h2><a routerLink="/blog/sblog">Think Poppy Konk</a></h2>
                    <div class="tag-row">
                      <span><i class="fa fa-bookmark"></i> <a href="#">Travel</a></span>
                      <span><i class="fa fa-pencil"></i><a href="#">Admin</a></span>
                    </div>
                    <p class="niche-box-content">
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                      tempor incididunt ut labore et dolore magna aliqua.
                    </p>
                  </div>
                </div>
              </div>
              <div class="grid-item col-sm-6">
                <div class="advs-box advs-box-top-icon-img niche-box-post boxed-inverse" data-anima="scale-rotate"
                  data-trigger="hover">
                  <div class="block-infos">
                    <div class="block-data">
                      <p class="bd-day">15</p>
                      <p class="bd-month">July 2018</p>
                    </div>
                    <a class="block-comment" href="#">2 <i class="fa fa-comment-o"></i></a>
                  </div>
                  <a class="img-box" routerLink="/blog/sblog"><img class="anima" src="../../../assets/images/gallery/image-2.jpg"
                      alt="" /></a>
                  <div class="advs-box-content">
                    <h2><a routerLink="/blog/sblog">Gourmet is our passion</a></h2>
                    <div class="tag-row">
                      <span><i class="fa fa-bookmark"></i> <a href="#">Travel</a></span>
                      <span><i class="fa fa-pencil"></i><a href="#">Admin</a></span>
                    </div>
                    <p class="niche-box-content">
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                      tempor incididunt ut labore et dolore magna aliqua.
                    </p>
                  </div>
                </div>
              </div>
              <div class="grid-item col-sm-6">
                <div class="advs-box advs-box-top-icon-img niche-box-post boxed-inverse" data-anima="scale-rotate"
                  data-trigger="hover">
                  <div class="block-infos">
                    <div class="block-data">
                      <p class="bd-day">21</p>
                      <p class="bd-month">June 2018</p>
                    </div>
                    <a class="block-comment" href="#">2 <i class="fa fa-comment-o"></i></a>
                  </div>
                  <a class="img-box" routerLink="/blog/sblog"><img class="anima" src="../../../assets/images/gallery/image-3.jpg"
                      alt="" /></a>
                  <div class="advs-box-content">
                    <h2><a routerLink="/blog/sblog">Midnight in Paris on France</a></h2>
                    <div class="tag-row">
                      <span><i class="fa fa-bookmark"></i> <a href="#">Travel</a></span>
                      <span><i class="fa fa-pencil"></i><a href="#">Admin</a></span>
                    </div>
                    <p class="niche-box-content">
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                      tempor incididunt ut labore et dolore magna aliqua.
                    </p>
                  </div>
                </div>
              </div>
              <div class="grid-item col-sm-6">
                <div class="advs-box advs-box-top-icon-img niche-box-post boxed-inverse" data-anima="scale-rotate"
                  data-trigger="hover">
                  <div class="block-infos">
                    <div class="block-data">
                      <p class="bd-day">13</p>
                      <p class="bd-month">July 2018</p>
                    </div>
                    <a class="block-comment" href="#">2 <i class="fa fa-comment-o"></i></a>
                  </div>
                  <a class="img-box" routerLink="/blog/sblog"><img class="anima" src="../../../assets/images/gallery/image-4.jpg"
                      alt="" /></a>
                  <div class="advs-box-content">
                    <h2><a routerLink="/blog/sblog">Discovery the economy images</a></h2>
                    <div class="tag-row">
                      <span><i class="fa fa-bookmark"></i> <a href="#">Travel</a></span>
                      <span><i class="fa fa-pencil"></i><a href="#">Admin</a></span>
                    </div>
                    <p class="niche-box-content">
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                      tempor incididunt ut labore et dolore magna aliqua.
                    </p>
                  </div>
                </div>
              </div>
              <div class="grid-item col-sm-6">
                <div class="advs-box advs-box-top-icon-img niche-box-post boxed-inverse" data-anima="scale-rotate"
                  data-trigger="hover">
                  <div class="block-infos">
                    <div class="block-data">
                      <p class="bd-day">18</p>
                      <p class="bd-month">May 2018</p>
                    </div>
                    <a class="block-comment" href="#">2 <i class="fa fa-comment-o"></i></a>
                  </div>
                  <a class="img-box" routerLink="/blog/sblog"><img class="anima" src="../../../assets/images/gallery/image-5.jpg"
                      alt="" /></a>
                  <div class="advs-box-content">
                    <h2><a routerLink="/blog/sblog">Hot photos from the beach</a></h2>
                    <div class="tag-row">
                      <span><i class="fa fa-bookmark"></i> <a href="#">Travel</a></span>
                      <span><i class="fa fa-pencil"></i><a href="#">Admin</a></span>
                    </div>
                    <p class="niche-box-content">
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                      tempor incididunt ut labore et dolore magna aliqua.
                    </p>
                  </div>
                </div>
              </div>
              <div class="grid-item col-sm-6">
                <div class="advs-box advs-box-top-icon-img niche-box-post boxed-inverse" data-anima="scale-rotate"
                  data-trigger="hover">
                  <div class="block-infos">
                    <div class="block-data">
                      <p class="bd-day">25</p>
                      <p class="bd-month">July 2018</p>
                    </div>
                    <a class="block-comment" href="#">2 <i class="fa fa-comment-o"></i></a>
                  </div>
                  <a class="img-box" routerLink="/blog/sblog"><img class="anima" src="../../../assets/images/gallery/image-6.jpg"
                      alt="" /></a>
                  <div class="advs-box-content">
                    <h2><a routerLink="/blog/sblog">Play basketball in Africa</a></h2>
                    <div class="tag-row">
                      <span><i class="fa fa-bookmark"></i> <a href="#">Travel</a></span>
                      <span><i class="fa fa-pencil"></i><a href="#">Admin</a></span>
                    </div>
                    <p class="niche-box-content">
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                      tempor incididunt ut labore et dolore magna aliqua.
                    </p>
                  </div>
                </div>
              </div>
              <div class="grid-item col-sm-6">
                <div class="advs-box advs-box-top-icon-img niche-box-post boxed-inverse" data-anima="scale-rotate"
                  data-trigger="hover">
                  <div class="block-infos">
                    <div class="block-data">
                      <p class="bd-day">17</p>
                      <p class="bd-month">June 2018</p>
                    </div>
                    <a class="block-comment" href="#">2 <i class="fa fa-comment-o"></i></a>
                  </div>
                  <a class="img-box" routerLink="/blog/sblog"><img class="anima" src="../../../assets/images/gallery/image-7.jpg"
                      alt="" /></a>
                  <div class="advs-box-content">
                    <h2><a routerLink="/blog/sblog">Winter is coming and we are all happy</a></h2>
                    <div class="tag-row">
                      <span><i class="fa fa-bookmark"></i> <a href="#">Travel</a></span>
                      <span><i class="fa fa-pencil"></i><a href="#">Admin</a></span>
                    </div>
                    <p class="niche-box-content">
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                      tempor incididunt ut labore et dolore magna aliqua.
                    </p>
                  </div>
                </div>
              </div>
              <div class="grid-item col-sm-6">
                <div class="advs-box advs-box-top-icon-img niche-box-post boxed-inverse" data-anima="scale-rotate"
                  data-trigger="hover">
                  <div class="block-infos">
                    <div class="block-data">
                      <p class="bd-day">25</p>
                      <p class="bd-month">July 2018</p>
                    </div>
                    <a class="block-comment" href="#">2 <i class="fa fa-comment-o"></i></a>
                  </div>
                  <a class="img-box" routerLink="/blog/sblog"><img class="anima" src="../../../assets/images/gallery/image-8.jpg"
                      alt="" /></a>
                  <div class="advs-box-content">
                    <h2><a routerLink="/blog/sblog">Latest hour news: Dead in timbestone</a></h2>
                    <div class="tag-row">
                      <span><i class="fa fa-bookmark"></i> <a href="#">Travel</a></span>
                      <span><i class="fa fa-pencil"></i><a href="#">Admin</a></span>
                    </div>
                    <p class="niche-box-content">
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                      tempor incididunt ut labore et dolore magna aliqua.
                    </p>
                  </div>
                </div>
              </div>
              <div class="grid-item col-sm-6">
                <div class="advs-box advs-box-top-icon-img niche-box-post boxed-inverse" data-anima="scale-rotate"
                  data-trigger="hover">
                  <div class="block-infos">
                    <div class="block-data">
                      <p class="bd-day">02</p>
                      <p class="bd-month">July 2018</p>
                    </div>
                    <a class="block-comment" href="#">2 <i class="fa fa-comment-o"></i></a>
                  </div>
                  <a class="img-box" routerLink="/blog/sblog"><img class="anima" src="../../../assets/images/gallery/image-9.jpg"
                      alt="" /></a>
                  <div class="advs-box-content">
                    <h2><a routerLink="/blog/sblog">Please dont take me home now!</a></h2>
                    <div class="tag-row">
                      <span><i class="fa fa-bookmark"></i> <a href="#">Travel</a></span>
                      <span><i class="fa fa-pencil"></i><a href="#">Admin</a></span>
                    </div>
                    <p class="niche-box-content">
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                      tempor incididunt ut labore et dolore magna aliqua.
                    </p>
                  </div>
                </div>
              </div>
              <div class="grid-item col-sm-6">
                <div class="advs-box advs-box-top-icon-img niche-box-post boxed-inverse" data-anima="scale-rotate"
                  data-trigger="hover">
                  <div class="block-infos">
                    <div class="block-data">
                      <p class="bd-day">09</p>
                      <p class="bd-month">June 2018</p>
                    </div>
                    <a class="block-comment" href="#">2 <i class="fa fa-comment-o"></i></a>
                  </div>
                  <a class="img-box" routerLink="/blog/sblog"><img class="anima" src="../../../assets/images/gallery/image-10.jpg"
                      alt="" /></a>
                  <div class="advs-box-content">
                    <h2><a routerLink="/blog/sblog">A travel around the wonderful world</a></h2>
                    <div class="tag-row">
                      <span><i class="fa fa-bookmark"></i> <a href="#">Travel</a></span>
                      <span><i class="fa fa-pencil"></i><a href="#">Admin</a></span>
                    </div>
                    <p class="niche-box-content">
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                      tempor incididunt ut labore et dolore magna aliqua.
                    </p>
                  </div>
                </div>
              </div>
              <div class="grid-item col-sm-6">
                <div class="advs-box advs-box-top-icon-img niche-box-post boxed-inverse" data-anima="scale-rotate"
                  data-trigger="hover">
                  <div class="block-infos">
                    <div class="block-data">
                      <p class="bd-day">10</p>
                      <p class="bd-month">July 2018</p>
                    </div>
                    <a class="block-comment" href="#">2 <i class="fa fa-comment-o"></i></a>
                  </div>
                  <a class="img-box" routerLink="/blog/sblog"><img class="anima" src="../../../assets/images/gallery/image-11.jpg"
                      alt="" /></a>
                  <div class="advs-box-content">
                    <h2><a routerLink="/blog/sblog">Berlusque show on Manatthan</a></h2>
                    <div class="tag-row">
                      <span><i class="fa fa-bookmark"></i> <a href="#">Travel</a></span>
                      <span><i class="fa fa-pencil"></i><a href="#">Admin</a></span>
                    </div>
                    <p class="niche-box-content">
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                      tempor incididunt ut labore et dolore magna aliqua.
                    </p>
                  </div>
                </div>
              </div>
              <div class="grid-item col-sm-6">
                <div class="advs-box advs-box-top-icon-img niche-box-post boxed-inverse" data-anima="scale-rotate"
                  data-trigger="hover">
                  <div class="block-infos">
                    <div class="block-data">
                      <p class="bd-day">07</p>
                      <p class="bd-month">June 2018</p>
                    </div>
                    <a class="block-comment" href="#">2 <i class="fa fa-comment-o"></i></a>
                  </div>
                  <a class="img-box" routerLink="/blog/sblog"><img class="anima" src="../../../assets/images/gallery/image-12.jpg"
                      alt="" /></a>
                  <div class="advs-box-content">
                    <h2><a routerLink="/blog/sblog">The Jimmi's Style Club show III </a></h2>
                    <div class="tag-row">
                      <span><i class="fa fa-bookmark"></i> <a href="#">Travel</a></span>
                      <span><i class="fa fa-pencil"></i><a href="#">Admin</a></span>
                    </div>
                    <p class="niche-box-content">
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                      tempor incididunt ut labore et dolore magna aliqua.
                    </p>
                  </div>
                </div>
              </div>
              <div class="grid-item col-sm-6">
                <div class="advs-box advs-box-top-icon-img niche-box-post boxed-inverse" data-anima="scale-rotate"
                  data-trigger="hover">
                  <div class="block-infos">
                    <div class="block-data">
                      <p class="bd-day">25</p>
                      <p class="bd-month">April 2018</p>
                    </div>
                    <a class="block-comment" href="#">2 <i class="fa fa-comment-o"></i></a>
                  </div>
                  <a class="img-box" routerLink="/blog/sblog"><img class="anima" src="../../../assets/images/gallery/image-13.jpg"
                      alt="" /></a>
                  <div class="advs-box-content">
                    <h2><a routerLink="/blog/sblog">Virgin Radio '90 Compilation</a></h2>
                    <div class="tag-row">
                      <span><i class="fa fa-bookmark"></i> <a href="#">Travel</a></span>
                      <span><i class="fa fa-pencil"></i><a href="#">Admin</a></span>
                    </div>
                    <p class="niche-box-content">
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                      tempor incididunt ut labore et dolore magna aliqua.
                    </p>
                  </div>
                </div>
              </div>
              <div class="grid-item col-sm-6">
                <div class="advs-box advs-box-top-icon-img niche-box-post boxed-inverse" data-anima="scale-rotate"
                  data-trigger="hover">
                  <div class="block-infos">
                    <div class="block-data">
                      <p class="bd-day">13</p>
                      <p class="bd-month">May 2018</p>
                    </div>
                    <a class="block-comment" href="#">2 <i class="fa fa-comment-o"></i></a>
                  </div>
                  <a class="img-box" routerLink="/blog/sblog"><img class="anima" src="../../../assets/images/gallery/image-1.jpg"
                      alt="" /></a>
                  <div class="advs-box-content">
                    <h2><a routerLink="/blog/sblog">Travel around the world is a good idea</a></h2>
                    <div class="tag-row">
                      <span><i class="fa fa-bookmark"></i> <a href="#">Travel</a></span>
                      <span><i class="fa fa-pencil"></i><a href="#">Admin</a></span>
                    </div>
                    <p class="niche-box-content">
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                      tempor incididunt ut labore et dolore magna aliqua.
                    </p>
                  </div>
                </div>
              </div>
              <div class="grid-item col-sm-6">
                <div class="advs-box advs-box-top-icon-img niche-box-post boxed-inverse" data-anima="scale-rotate"
                  data-trigger="hover">
                  <div class="block-infos">
                    <div class="block-data">
                      <p class="bd-day">25</p>
                      <p class="bd-month">July 2018</p>
                    </div>
                    <a class="block-comment" href="#">2 <i class="fa fa-comment-o"></i></a>
                  </div>
                  <a class="img-box" routerLink="/blog/sblog"><img class="anima" src="../../../assets/images/gallery/image-2.jpg"
                      alt="" /></a>
                  <div class="advs-box-content">
                    <h2><a routerLink="/blog/sblog">Looking forward to #BeforeTheFlood</a></h2>
                    <div class="tag-row">
                      <span><i class="fa fa-bookmark"></i> <a href="#">Travel</a></span>
                      <span><i class="fa fa-pencil"></i><a href="#">Admin</a></span>
                    </div>
                    <p class="niche-box-content">
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                      tempor incididunt ut labore et dolore magna aliqua.
                    </p>
                  </div>
                </div>
              </div>
              <div class="grid-item col-sm-6">
                <div class="advs-box advs-box-top-icon-img niche-box-post boxed-inverse" data-anima="scale-rotate"
                  data-trigger="hover">
                  <div class="block-infos">
                    <div class="block-data">
                      <p class="bd-day">25</p>
                      <p class="bd-month">July 2018</p>
                    </div>
                    <a class="block-comment" href="#">2 <i class="fa fa-comment-o"></i></a>
                  </div>
                  <a class="img-box" routerLink="/blog/sblog"><img class="anima" src="../../../assets/images/gallery/image-3.jpg"
                      alt="" /></a>
                  <div class="advs-box-content">
                    <h2><a routerLink="/blog/sblog">Google just unveiled VR headset</a></h2>
                    <div class="tag-row">
                      <span><i class="fa fa-bookmark"></i> <a href="#">Travel</a></span>
                      <span><i class="fa fa-pencil"></i><a href="#">Admin</a></span>
                    </div>
                    <p class="niche-box-content">
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                      tempor incididunt ut labore et dolore magna aliqua.
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="list-nav">
              <ul class="pagination pagination-grid" data-page-items="8" data-pagination-anima="show-scale"></ul>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-12 widget">
          <div class="input-group search-blog list-blog">
            <input type="text" class="form-control" placeholder="Search for...">
            <span class="input-group-btn">
              <button class="btn btn-default" type="button">Go!</button>
            </span>
          </div>
          <hr class="space s" />
          <div class="list-group list-blog">
            <p class="list-group-item active">Categories</p>
            <a href="#" class="list-group-item">FOOD Blog</a>
            <a href="#" class="list-group-item">Helth & Fitness</a>
            <a href="#" class="list-group-item">Guest Blogging</a>
          </div>
          <div class="list-group list-blog">
            <p class="list-group-item active">Latest posts</p>
            <div class="list-group-item">
              <div class="tag-row icon-row"><span><i class="fa fa-calendar"></i>26.05.2018</span></div>
              <a href="#">
                <h5>Return to the future day</h5>
              </a>
              <p>
                Lorem ipsum dolor sit amet, conse adipisicing elit, sed do eiusmod tempor incididunt ...
              </p>
            </div>
            <div class="list-group-item">
              <div class="tag-row icon-row"><span><i class="fa fa-calendar"></i>28.05.2018</span></div>
              <a href="#">
                <h5>The web 3.0 vision</h5>
              </a>
              <p>
                Lorem ipsum dolor sit amet, conse adipisicing elit, sed do eiusmod tempor incididunt ...
              </p>
            </div>
            <div class="list-group-item">
              <div class="tag-row icon-row"><span><i class="fa fa-calendar"></i>02.06.2018</span></div>
              <a href="#">
                <h5>Where to go on holiday ?</h5>
              </a>
              <p>
                Lorem ipsum dolor sit amet, conse adipisicing elit, sed do eiusmod tempor incididunt ...
              </p>
            </div>
          </div>
          <div class="list-group latest-post-list list-blog">
            <p class="list-group-item active">Latest posts</p>
            <div class="list-group-item">
              <div class="row">
                <div class="col-md-4">
                  <a class="img-box circle">
                    <img src="../../../assets/images/gallery/square-1.jpg" alt="">
                  </a>
                </div>
                <div class="col-md-8">
                  <a href="#">
                    <h5>Return to the future day</h5>
                  </a>
                  <div class="tag-row icon-row"><span><i class="fa fa-calendar"></i>02.06.2018</span></div>
                </div>
              </div>
            </div>
            <div class="list-group-item">
              <div class="row">
                <div class="col-md-4">
                  <a class="img-box circle">
                    <img src="../../../assets/images/gallery/square-2.jpg" alt="">
                  </a>
                </div>
                <div class="col-md-8">
                  <a href="#">
                    <h5>We can do</h5>
                  </a>
                  <div class="tag-row icon-row"><span><i class="fa fa-calendar"></i>02.06.2018</span></div>
                </div>
              </div>
            </div>
            <div class="list-group-item">
              <div class="row">
                <div class="col-md-4">
                  <a class="img-box circle">
                    <img src="../../../assets/images/gallery/square-3.jpg" alt="">
                  </a>
                </div>
                <div class="col-md-8">
                  <a href="#">
                    <h5>Hacking team 24</h5>
                  </a>
                  <div class="tag-row icon-row"><span><i class="fa fa-calendar"></i>02.06.2018</span></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
