<div class="footer-parallax-container">
  <div class="header-title ken-burn-center white" data-parallax="scroll" data-position="top" data-natural-height="850"
    data-natural-width="1920" data-image-src="../../../assets/images/bg-27.jpg">
    <div class="container">
      <div class="title-base">
        <hr class="anima" />
        <h1>About us</h1>
        <p>Informations about our Restaurant</p>
      </div>
    </div>
  </div>
  <div class="section-empty section-item">
    <div class="container content">
      <div class="row">
        <hr class="space m d-h">
        <div class="col-sm-6">
          <p class="justify-text">
            Whether you’re a CrossFit gym, yoga studio or offer group fitness classes, you know that a healthy diet is
            as important to your clients asthe hard work they put into their workouts. With your members’ busy lives,
            sticking to a healthy diet is probably one of their biggest challenges. They may not have the time to cook a
            healthy meal or meal prep each week.
          </p>
          <p class="justify-text">
            Imagine being able to offer your clients this critical ingredient to optimal health. Your members have a
            killer workout, and grab a day or a week’s worth of healthy meals.
            Diet’n Shake delivers healthy, pre- cooked and measured ready-to-eat meals to your gym each week for members
            to pick up and enjoy, supplying the perfect fuel to power them through their next workout.
          </p>
          <span *ngIf="readMoreAbout">
            <p class="justify-text">
              Diet and Shake is a startup by young entrepreneurs with a mission of embracing the health of people while
              sufficing their taste buds, today, when we are all busy, working, we absolutely pay downright ignorance
              towards our health, without realizing that we are putting it in danger, today when 30 percent of the world
              is suffering from obesity, and rest 70 percent people having minor to major health issues.
            </p>
            <p class="justify-text">
              Having a mentor always makes things easy, doesn't it? So here we give you a diet mentor, Diet and Shake.
              We
              prepare food not only with the lure of keeping it healthy but we also ensure that the food has the
              capability to replace the delicious chicken biryani you had sometimes back. We grow our own fruits &
              vegetables by the hydroponic technology, providing them with additional minerals. We also have a poultry
              farm, where we ensure that the place is clean enough and that the chicken is healthy enough to be consumed
              by our customers.
            </p>
            <p class="justify-text">
              Often we have been running oppositely with diets. Alas! No more extra-cheesy white sauce Italian pasta
              that
              you adored, no more pastries to suffice that sweet tooth, but on a scale of 1-10 tell us how happy you
              would
              be if we manifest that we can provide the meal which can be healthy and delicious at the same time, we
              experimented and proved the “If you want to lose weight, forget what the word delicious means” wrong. We
              put
              a stamp on our meals everyday, with a date tag to ensure our customers and gaining their trusts
              eventually.
              Diet and Shakes makes a symbiotic relation with its customers ensuring that their demands are fulfilled in
              the span of time they provided us with.
            </p>
            <p class="justify-text">
              “Don’t be shy, come try.”
              Bon Appétit.
            </p>
          </span>
          <hr class="space s" />
          <a href="#" (click)="readMore()" class="btn-border btn btn-xs"><span *ngIf="readMoreAbout">Less
              details</span><span *ngIf="!readMoreAbout">More details</span></a><span class="space"></span>
          <a href="#" class="btn-border btn btn-xs">Complete menu</a>
          <hr class="space s" />
        </div>
        <div class="col-sm-6">
          <p class="progress-label">Green food</p>
          <div class="progress">
            <div class="progress-bar progress-bar-striped" data-progress="100">
              <span><span class="counter" data-to="100">100</span>%</span>
            </div>
          </div>
          <hr class="space m" />
          <p class="progress-label">Smart technologies</p>
          <div class="progress">
            <div class="progress-bar progress-bar-striped" data-progress="90">
              <span><span class="counter" data-to="90">90</span>%</span>
            </div>
          </div>
          <hr class="space m" />
          <p class="progress-label">Farm revolution 3.0</p>
          <div class="progress">
            <div class="progress-bar progress-bar-striped" data-progress="80">
              <span><span class="counter" data-to="80">80</span>%</span>
            </div>
          </div>
          <hr class="space m" />
          <p class="progress-label">Video production</p>
          <div class="progress">
            <div class="progress-bar progress-bar-striped" data-progress="95">
              <span><span class="counter" data-to="95">95</span>%</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section-bg-color">
    <div class="container content">
      <div class="row">
        <div class="col-md-2">
          <div class="icon-box icon-box-top-bottom">
            <div class="icon-box-cell">
              <i class="im-cool-guy text-xl"></i>
            </div>
            <div class="icon-box-cell">
              <b><label class="counter text-m" data-speed="20000" data-to="850034"></label></b>
              <p class="text-s">Social fans</p>
            </div>
          </div>
        </div>
        <div class="col-md-2">
          <div class="icon-box icon-box-top-bottom">
            <div class="icon-box-cell">
              <i class="im-leafs text-xl"></i>
            </div>
            <div class="icon-box-cell">
              <b><label class="counter text-m" data-speed="20000" data-to="50000"></label></b>
              <p class="text-s">Recipients</p>
            </div>
          </div>
        </div>
        <div class="col-md-2 text-right">
          <div class="icon-box icon-box-top-bottom">
            <div class="icon-box-cell">
              <i class="im-coffee text-xl"></i>
            </div>
            <div class="icon-box-cell">
              <b><label class="counter text-m" data-speed="20000" data-to="123568"></label></b>
              <p class="text-s">Coffees</p>
            </div>
          </div>
        </div>
        <div class="col-md-2">
          <div class="icon-box icon-box-top-bottom">
            <div class="icon-box-cell">
              <i class="im-conference text-xl"></i>
            </div>
            <div class="icon-box-cell">
              <b><label class="counter text-m" data-speed="20000" data-to="250"></label></b>
              <p class="text-s">Clients</p>
            </div>
          </div>
        </div>
        <div class="col-md-2">
          <div class="icon-box icon-box-top-bottom">
            <div class="icon-box-cell">
              <i class="im-engineering text-xl"></i>
            </div>
            <div class="icon-box-cell">
              <b><label class="counter text-m" data-speed="20000" data-to="110"></label></b>
              <p class="text-s">Team members</p>
            </div>
          </div>
        </div>
        <div class="col-md-2 text-right">
          <div class="icon-box icon-box-top-bottom">
            <div class="icon-box-cell">
              <i class="im-pizza-slice text-xl"></i>
            </div>
            <div class="icon-box-cell">
              <b><label class="counter text-m" data-speed="20000" data-to="123568"></label></b>
              <p class="text-s">Pizzas</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section-bg-image parallax-window white" data-natural-height="850" data-natural-width="1920"
    data-parallax="scroll" data-image-src="../../../assets/images/bg-28.jpg">
    <div class="container content">
      <div class="title-base ">
        <hr />
        <h2>Main values</h2>
        <p>Our main values and services</p>
      </div>
      <div class="row">
        <div class="col-md-7 col-center">
          <p class="text-center">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
            ullamco laboris nisi ut
            aliquip ex ea commodo consequat duis aute irure dolor. Quam assumenda etcaecati commodi neque ante irure
            otentiligendi exercitation
            sollicitudin non ridiculus
          </p>
        </div>
      </div>
      <hr class="space m" />
      <div class="row">
        <div class="col-md-3">
          <div class="advs-box advs-box-top-icon " data-anima="rotate-20" data-trigger="hover">
            <i class="im-coins-3 icon circle anima"></i>
            <h3>Financial investiments</h3>
            <p>
              Hymenaeos pharetra senectus perspiciatis esse nostra
            </p>
          </div>
        </div>
        <div class="col-md-3">
          <div class="advs-box advs-box-top-icon " data-anima="rotate-20" data-trigger="hover">
            <i class="im-coins-3 icon circle anima"></i>
            <h3>Financial investiments</h3>
            <p>
              Hymenaeos pharetra senectus perspiciatis esse nostra
            </p>
          </div>
        </div>
        <div class="col-md-3">
          <div class="advs-box advs-box-top-icon " data-anima="rotate-20" data-trigger="hover">
            <i class="im-coins-3 icon circle anima"></i>
            <h3>Financial investiments</h3>
            <p>
              Hymenaeos pharetra senectus perspiciatis esse nostra
            </p>
          </div>
        </div>
        <div class="col-md-3">
          <div class="advs-box advs-box-top-icon " data-anima="rotate-20" data-trigger="hover">
            <i class="im-coins-3 icon circle anima"></i>
            <h3>Financial investiments</h3>
            <p>
              Hymenaeos pharetra senectus perspiciatis esse nostra
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
