<div class="footer-parallax-container">
  <div class="header-base bg-cover white" style="background-image:url(../../../assets/images/bg-3.jpg)">
    <div class="container">
      <div class="row">
        <div class="col-md-9">
          <div class="title-base text-left">
            <h1>All Stars gastronomy showcase revealed for this month</h1>
           
          </div>
        </div>
        <div class="col-md-3">
          <ol class="breadcrumb b">
            <li><a href="#">Home</a></li>
            <li><a href="#">Blog</a></li>
            <li class="active">Vodafone India</li>
          </ol>
        </div>
      </div>
    </div>
  </div>
  <div class="section-empty section-item">
    <div class="container content">
      <div class="row">
        <div class="col-sm-6">
          <hr class="space s" />
          <div class="tag-row">
            <span><i class="fa fa-calendar"></i> <a href="#">25 / 05 / 2025</a></span>
            <span><i class="fa fa-bookmark"></i> <a href="#">Travel</a></span>
            <span><i class="fa fa-pencil"></i><a href="#">Admin</a></span>
          </div>
        </div>
        <div class="col-sm-6 text-right">
          <div class="btn-group social-group social-colors">
            <a target="_blank" href="#" data-social="share-facebook" data-toggle="tooltip" data-placement="top"
              title="Facebook"><i class="fa fa-facebook text-s circle"></i></a>
            <a target="_blank" href="#" data-social="share-twitter" data-toggle="tooltip" data-placement="top"
              title="Twitter"><i class="fa fa-twitter text-s circle"></i></a>
            <a target="_blank" href="#" data-social="share-google" data-toggle="tooltip" data-placement="top"
              title="Google+"><i class="fa fa-google-plus text-s circle"></i></a>
            <a target="_blank" href="#" data-social="share-linkedin" data-toggle="tooltip" data-placement="top"
              title="LinkedIn"><i class="fa fa-linkedin text-s circle"></i></a>
          </div>
        </div>
      </div>
      <hr class="space" />
      <div class="flexslider slider row-17">
        <ul class="slides">
          <li>
            <a class="img-box">
              <img src="../../../assets/images/gallery/large-7.jpg" alt="" />
            </a>
          </li>
          <li>
            <a class="img-box">
              <img src="../../../assets/images/gallery/large-2.jpg" alt="" />
            </a>
          </li>
          <li>
            <a class="img-box">
              <img src="../../../assets/images/gallery/large-7.jpg" alt="" />
            </a>
          </li>
        </ul>
      </div>
      <hr class="space m" />
      <div class="row">
        <div class="col-sm-6">
          <p>
            Fames ultrices dolores vitae euismod lobortis corporis facere id nullam aspernatur litora, vitae numquam do
            molestiae iaculis. Ullamco, assumenda tempor, ullamco blanditiis,
            pharetra laborum rutrum sunt ipsam, sed, varius dolores nam curabitur, nisi mus, impedit faucibus veritatis
            aliqua parturient nonummy ipsam aptent lacus commodo, doloremque
            eaque dolor lorem fermentum leo donec, minus modi class, ipsam, illum condimentum massa delectus, sagittis?
            Voluptatem quis ornare proident qui, mi saepe urna exercitation
            deserunt phasellus primis, primis quibusdam voluptates saepe etiam accusamus fames cubilia reiciendis cumque
            sunt parturient porttitor repudiandae ullamco nobis fugito
            faucibus veritatis aliqua parturient nomy.
        </div>
        <div class="col-sm-6">
          <p>
            Fames ultrices dolores vitae euismod lobortis corporis facere id nullam aspernatur litora, vitae numquam do
            molestiae iaculis. Ullamco, assumenda tempor, ullamco blanditiis,
            pharetra laborum rutrum sunt ipsam, sed, varius dolores nam curabitur, nisi
          </p>
          <p class="block-quote quote-1">
            It is better to lead from behind and to put others in front,
            especially when you celebrate victory nice things occur.
          </p>
          <p>
            Dictum illum nesciunt doloremque, ad sociis! Excepteur tenetur perferendis quisque
          </p>
        </div>
        <div class="col-sm-6">
          <p>
            Fiam accusamus fames cubilia reiciendis cumque sunt parturient porttitor repudiandae ullamco nobis fugit
            porta,
            aut vero, mus! Minim posuere vivamus. Quod eligendi, repellendus conubia.
            Integer vel impedit quidem, dolor quod, ullam nemo, impedit nesciunt voluptatum porro, tenetur aliqua ipsa
            posuere posuere quo etiamo.
            Magnam facilis. Lorem ipsum dolor sit amet consectetur adipiscing elitsed do eiusmod tempor incididunt
            utlabore et dolore magna aliqua.
            Utenim ad minim veniam quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            Duis aute irure dolor in reprehenderit
            in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Lorem ipsum dolor sit amet consectetur
            adipiscing elitsed do eiusmo.
        </div>
      </div>
      <hr class="space s" />
    </div>
  </div>
  <div class="section-bg-color">
    <div class="container content">
      <div class="row">
        <div class="col-sm-6">
          <div class="comment-list">
            <h4 class="text-m">Comments</h4>
            <hr class="space m" />
            <div class="item row">
              <img src="../../../assets/images/users/user-2.jpg" class="col-md-1" alt="" />
              <div class="col-md-10">
                <p class="name">Federico Schiocchet <span>25 feb, 2018</span></p>
                <p class="msg">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                  incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                  ullamco laboris nisi ut aliquip ex ea coSed ut perspiciatis unde omnis iste natus error sit voluptatem
                  accusantium doloremque laudantium</p>
              </div>
            </div>
            <div class="item row">
              <img src="../../../assets/images/users/user-3.jpg" class="col-md-1" alt="" />
              <div class="col-md-10">
                <p class="name">Vaky Yo <span>25 feb, 2018</span></p>
                <p class="msg">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                  incididunt ut labore et dolore magna aliqua. </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-box">
            <h4 class="text-m">Leave a comment</h4>
            <hr class="space m" />
            <div class="row">
              <div class="col-sm-6">
                <p>Name</p>
                <input type="text" class="form-control" placeholder="">
              </div>
              <div class="col-sm-6">
                <p>Email</p>
                <input type="text" class="form-control" placeholder="">
              </div>
            </div>
            <hr class="space xs" />
            <div class="row">
              <div class="col-md-12">
                <p>Website</p>
                <input type="text" class="form-control" placeholder="">
                <hr class="space xs" />
                <p>Messagge</p>
                <textarea name="messagge" class="form-control"></textarea>
                <hr class="space s" />
                <button class="btn btn-xs" type="button">Send comment</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
