@media (max-width: 992px) {

  body,
  .adv-img p,
  .caption-bottom p,
  .adv-circle .caption p,
  .advs-box p,
  p,
  .title-base p,
  .subheader-bootstrap .sub {
    font-family: 'Libre Baskerville', serif !important;
    font-size: 12px !important;
    line-height: 18px !important;
    font-weight: 200 !important;
    color: #000000 !important;
    text-align: justify !important;
  }
  .btn.btn-xs {
    margin-bottom: 14px !important;
  }
}
