.heading-style{
    font-family: fantasy;
    font-size: 27px;
    color: white;
    padding: 17px 17px;
    >span{
        color: greenyellow;
    }
}
.heading-style1{
    font-family: fantasy;
    font-size: 27px;
    color: black;
    padding: 10px 15px;
    >span{
        color: greenyellow;
    }
}
