<footer class="footer-base footer-parallax">
  <div class="content">
    <div class="container">
      <div class="row">
        <div class="col-md-3 m-h"></div>
        <div class="col-md-6 footer-center">
          <hr class="space s m-h" />
          <!-- <img width="180" src="../../../assets/images/logo-2.png" alt="" /> -->
          <img width="180" src="../../../assets/images/dietshake1.png" alt="logo" />

          <!-- <div class=" logo-default  heading-style1">FOOD<span>APP</span></div> -->
          <hr class="space m m-h" />
          <p>
            Those who have no time for healthy eating will sooner or <br /> later have to find time for illness..
          </p>
          <hr class="space s m-h" />
          <div class="btn-group social-group btn-group-icons">
            <a target="_blank" href="https://www.facebook.com/dietnshakes" data-social="share-facebook"><i
                class="fa fa-facebook"></i></a>
            <a target="_blank" href="https://twitter.com/dietnshake" data-social="share-twitter"><i
                class="fa fa-twitter"></i></a>
            <a target="_blank" href="https://www.instagram.com/dietnshake/" data-social="share-google"><i
                class="fa fa-instagram"></i></a>
          </div>
        </div>
        <!-- <div class="col-md-3"></div> -->
      </div>
    </div>
    <div class="row copy-row">
      <div class="col-md-12 copy-text">
        © 2019 FoodApp Design & Develop By <a href="http://machtronicglobal.com/">Qloron Pvt Ltd</a>
      </div>
    </div>
  </div>
</footer>
